#body{
    text-align: center;

}
#order{
    text-align: center;
}
#put{
    width: 5px;
}
nav{
    width: 100%;
    text-align: center;
}
#chef1 , #chef2, #wow ,#chef3,#deliver,#pick {
    display: none;
}